.header, #section-a, .footer{
    background-color: #1F2937;
}

.header,#section-a,#section-b,#section-c,#section-d{
    padding: 0 10%;
}

#section-c{
    background-color: #e5e7eb;
}
#section-d{
    background-color:#F9FAF8;
}

body{
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    font-family: 'Roboto',sans-serif;
   
}
.container {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    
}
.footer{
    text-align: center;
    font-size: 18px;
    padding: 36px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
   
}
.header .left{
    font-size: 24px;
    font-weight: bolder;
  
}
.header .right{
    display: flex;
    gap:18px;
    font-size: 18px;
    color:#e5e7eb;
}
.left{
    display: flex;
    flex-direction: column;
}
#section-a{
    display: flex;
    justify-content: space-between;
}
#section-b{
    display: flex;
    flex-direction: column;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    
}
.card{
    flex :1;
}
.card .subtext{
    color:#1F2937;
}

.img-bg{
    height: 150px;
    width: 150px;
     border: 4px solid #3882f6;
     border-radius: 15px;
    
     
}


#section-a .left {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap :18px;
    align-items: flex-start;
}
#section-a .right {
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-a .right img {
    width: 80%;
}
#section-a .left{
    flex-grow: 1;
}
.subtext{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}

.btn-primary{
    background-color: #3882f6;
    font-weight: 700;
    border-radius: 10px;
    border-style: none;
    font-size: 18px;
    color: #e5e7eb;
    width: auto;
    height: auto;
    padding: 8px  22px;
}

#section-b, .section-c{
    color: #1f2937;
    text-align: center;
}
#section-b h2{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 42px;
}

figcaption{
    text-align: right;
    font-size: 36px;
    color:#1f2937;
    font-weight: bold;
}
blockquote{
    font-weight: lighter;
    
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}
.follower{
    padding: 50px;
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.follower .right .btn-secondary{
    border-style: solid;
    border-radius: 2px;
    border-color: #e5e7eb;
}